---
layout: default
title: Home
---
<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>
-->
<h1>Hi, I'm Pratik.</h1>
<p> I'm a graduate student in the physics department at UC Berkeley. I work in the <a href="http://redwood.berkeley.edu/">Redwood Center for Theoretical Neuroscience</a> as well as Kris Bouchard's group at Lawrence Berkeley National Lab. My research is funded by the Department of Defense through the NDSEG Fellowship.</p>

<p>My research interests focus largely on neural variability: its structure, implications for neural coding, and impacts on phenomelogical models of neural activity.</p>

<p>I'm also deeply concerned about promoting diversity, equity, and inclusion in academia. In my spare time, I spend time thinking about how to solve and raise awareness for issues regarding racial and gender justice.</p>
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->

