---
layout: default
title: Home
---
<h1>Hi, I'm Pratik.</h1>
<p> I'm a graduate student in the physics department at UC Berkeley. I work in the <a href="http://redwood.berkeley.edu/">Redwood Center for Theoretical Neuroscience</a> as well as <a href="http://bouchardlab.lbl.gov/">Kristofer Bouchard's Neural Systems and Engineering group</a> at Lawrence Berkeley National Laboratory. My research is funded by the Department of Defense through the <a href="http://www.ndsegfellowships.org/">NDSEG Fellowship</a>.</p>

<p>My research interests focus largely on neural variability: its structure, implications for neural coding, and impacts on phenomelogical models of neural activity.</p>

<p>I'm deeply concerned about promoting diversity, equity, and inclusion in academia. When I'm not doing research, I spend time thinking about how to solve and raise awareness for issues regarding racial and gender justice.</p>

<p>I also like running, hiking, <a href="https://medium.com/nbycreads">reading</a>, <a href="https://www.facebook.com/pg/the.nbyc/shop/?ref=page_internal">designing t-shirts</a>, and <a href="https://www.youtube.com/channel/UCIe6b3T6dcOrQ1qJJtiazEg">critiquing salsas</a>. 
<hr>
email <a href="https://github.com/pssachdeva">pssachdeva</a> 
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->

