


/*
 * Contents
 *
 * Global resets
 * Masthead
 * Sidebar
 * Slide effect
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 */


/********************
*** Global resets ***
********************/

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}

hr {
  position: relative;
  margin: 1.0rem 0;
  border: 0;
  border-top: 1.0px solid #eee;
  border-bottom: 1.0px solid #eee;
}

/*****************
*** Containers ***
*****************/

.container {
  max-width: 32rem;
}
.bottom-container {
  max-width: 32rem;
  margin-bottom: 3px;
}
@media (min-width: 38em) {
  .container, .bottom-container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .container, .bottom-container {
    max-width: 40rem;
  }
}


/***************
*** Masthead ***
****************/

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 0px;
  border-bottom: 2px solid #eee;
}

.masthead-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}

/************
*** Posts ***
************/
.post-list {
  margin-left: 0;
  list-style: none;
  padding: 0;
}
.rule-header-title-top {
  position: relative;
  border: 0;
  border-top: 5.0px solid #eee;
  border-bottom: 1.0px solid #eee;
  margin: 0px;
  margin-top: 10px
}

.rule-header-title-bottom {
  position: relative;
  border: 0;
  border-top: 5.0px solid #eee;
  border-bottom: 1.0px solid #eee;
  margin: 0px;
  margin-bottom: 10px
}

.rule-header-middle {
  position: relative;
  border: 0;
  border-top: 5.0px solid #eee;
  border-bottom: 1.0px solid #eee;
  margin-top: 10px;
  margin-bottom: 10px
}

.rule-header-top {
  position: relative;
  border: 0;
  border-top: 5.0px solid #eee;
  border-bottom: 1.0px solid #eee;
  margin: 0px;
}

.rule-header-bottom {
  position: relative;
  border: 0;
  border-top: 1.0px solid #eee;
  border-bottom: 1.0px solid #eee;
  margin: 0px;
  margin-bottom: 10px
}

.rule-header {
    position: relative;
    border: 0;
    border-top: 1.0px solid #eee;
    border-bottom: 1.0px solid #eee;
    margin: 0px;
}