<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <ul id="masthead">
              <li><a href="{{ site.baseurl }}/" title="Home">home</a></li>
              <li><a href="/research.html">research</a></li>
              <li><a href="/teaching.html">teaching</a></li>
              <li>projects</li>
              <li>posts</li>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
